html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  overflow: hidden;
}

canvas {
  background: #333;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

header .row {
  margin-bottom: 0px;
}

#next-player, #reset, #winner {
  display: none;
}


#score {
  position: absolute;
  color: #fff;
  display: none;
}

#pop-up-container {
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#pop-up-score, #pop-up-paused {
  display: none;
}

.pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ececec;
  padding: 10px 50px;
  border-radius: 5px;
  font-family: sans-serif;
  flex-flow: column wrap;
}
